@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--
  Author:    John Huynh
  Partner:   None
  Date:      September 1,2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and John Huynh- This work may not be copied for use in Academic Coursework.

  I, John Huynh, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Table of the CS courses available with TA's assigned or under consideration.
-->

<div id="courses_header" class="default_header">
    <h1 class="header">Courses</h1>
</div>

<div id="courses_body">
    <!--Table for all the courses-->
    <table class="style_table">
        <thead>
            <tr>
                <!--header for table-->
                <th>Course</th>
                <th>Assigned</th>
                <th>Under Consideration</th>
            </tr>
        </thead>

        <!--Courses and applicants assigned or under consideration-->
        <tr>
            <td>CS 2420-Data Structures and Algorithms</td>
            <td>
                Milo Huynh, John Huynh
            </td>
            <td><a href="/Applications/Index">Jonatahn Rodiguz</a></td>
        </tr>
        <tr>
            <td>CS 1030-Foundations Of CS</td>
            <td>Gymmie Trinh</td>
            <td><a href="/Applications/Index">Kadyn Lo</a></td>
        </tr>
        <tr>
            <td>CS 3500-Software Practice I</td>
            <td>Eduardo Valdivia</td>
            <td><a href="/Applications/Index">Alexander Valdivia</a></td>
        </tr>
        <tr>
            <td>CS 3505-Software Practice II</td>
            <td>Jaycob Ayy</td>
            <td></td>
        </tr>
    </table>
</div>
