@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--
  Author:    John Huynh
  Partner:   None
  Date:      September 10,2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and John Huynh- This work may not be copied for use in Academic Coursework.

  I, John Huynh, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Homepage for applications. Shows the applicants info that they put in when applying on the forms page. The edit button
     takes you to this edit forms page where you put the information for an applicant.

-->
<!--header for applicant info page-->
<!--Applicant page, shows completed information for application-->
<div id="applicant_name">
    <h1 class="header">Application for Applicant name</h1>
    <figure id="applications_photo">
        <img src="~/images/bananafortnite.png" alt="Picture of Applicant" />
        <figcaption>Applicant Name</figcaption>
    </figure>
</div>
<!--Applicants information in a list.-->
<div id="main_info">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h4>Main Information</h4>
                <ul class="infolist">
                    <li>Contact: Applicant@applicant.com</li>
                    <li>Phone: 801-803-7921</li>
                    <li>GPA: 4.0</li>
                    <li>UID: u1180760</li>
                    <li>Linked In: <a href="https://linkedin">Linked In</a></li>
                    <li>Resume: <a href="#">Link</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div id="course_interests">
                    <h4>Wanted Courses:</h4>
                    <ul>
                        <li>CS1030</li>
                        <li>CS2420</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div id="personal_statement">
                    <h4>Personal Statement:</h4>
                    Ever since I was little, I had a passion for computer science and
                    always wanted to help others understand this amazing field also.
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div id="edit_button">
    <a class="btn btn-warning btn-sm" href="/Applications/Edit" role="button">Edit</a>
</div>