@{
    ViewData["Title"] = "Home Page";
}
<!--
  Author:    John Huynh
  Partner:   None
  Date:      September 1,2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and John Huynh- This work may not be copied for use in Academic Coursework.

  I, John Huynh, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Homepage of the TA website. Introduces the website.
-->

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">
                Hello, Welcome to the TA Application!
            </h1>
            <p>
                This website is a space to view U of U Computer Sciense TA infomation and applications for TA positions.
            </p>
            <p>
                <a class="btn btn-danger btn-lg" href="#" role="button">Learn more >></a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>CS2420</h2>
                <p>
                    Introduction to Algorithms and Data Structures:
                    <br />
                    This course provides an introduction to tools found throughout computer science -
                    basic algorithms and data structures that lend themselves naturally to computational problem solving,
                    and engineering computational efficiency into programs.
                </p>
                <a class="btn btn-danger btn-sm" href="#" role="button">View details >></a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>CS1030</h2>
                <p>
                    Foundations of Computer Science:
                    <br />
                    This course for students who are interested in pursuing a computer science degree but have no background
                    in computing. CS 1030 provides a gentle introduction to the fundamental concepts of computer science.
                </p>
                <a class="btn btn-danger btn-sm" href="#" role="button">View details >></a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>CS3500</h2>
                <p>
                    Software Practice I:
                    <br />
                    CS 3500 is an introduction to software engineering. Although
                    you will learn about all the steps involved in creating a system, we will focus primarily on the
                    software construction step by building on the programming background that you acquired
                    from CS 1410 and CS 2420.
                </p>
                <a class="btn btn-danger btn-sm" href="#" role="button">View details >></a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>CS3505</h2>
                <p>
                    Software Practice II:
                    <br />
                    This class will provide you with the information and skills to work on software projects in
                    a team setting all the way from inception to final product. This class will dovetail with 3500 and focus on the parts of
                    software development up to implementation including requirements gathering, requirements analysis, software architecture, and design.
                </p>
                <a class="btn btn-danger btn-sm" href="#" role="button">View details >></a>
            </div>
        </div>
    </div>

</main>
